# emacs backups
*~
.travis.yml
README-JAMES.md
.prettierrc.js
*/*/old/*
docs/*
src/components/lib/.pnpm-debug.log
*/yarn-error.log
yarn-error.log
.vitest
playwright-report
.auth
test-results
test/dist