dist: focal

language: node_js
sudo: required
addons:
  apt:
    sources:
      - sourceline: 'deb http://dl.google.com/linux/chrome/deb/ stable main'
    packages:
      - google-chrome-stable

node_js:
- '18'

cache: 
  yarn: true
  directories:
    - node_modules

install:
  - yarn
  - yarn install

#before_install:
#  - sudo apt-get -y install chromium-browser
#  - sudo apt-get -y install xvfb

#before_script:
#  - export CHROME_BIN=chromium-browser
#  - export DISPLAY=:99.0
#  - sh -e systemctl start xvfb

script:
  - yarn test
#script:
#- coverage run --source='.' manage.py test -v2

#notifications:
#  slack:
#    secure: ""
