
.esnet-custom-text-area {
    /* empty, for css module styling hook */
    color: inherit;
}

.esnet-custom-text-area + .errorMessage {
    margin-top: 8px;
    font-size: 10px;
}

.esnet-custom-text-area.invalid + .errorMessage {
    display: block;
    color: red;
}

.esnet-custom-text-area:not(.invalid) + .errorMessage {
    display: none;
    font-size: 10px;
}
