.leaflet-pane > svg path {
    pointer-events: auto ;
}


svg circle.node {
        /* fill: #999; */
        stroke: #777;
        stroke-width: 1;
}

svg path.edge {
        stroke-linecap: butt;
        stroke-width: 3;
        /* stroke: #aaa; */
        fill:  none;
}

svg path.animated-edge {
	stroke-linecap: butt;
        stroke-width: 5;
        stroke: #aaa;
        fill:  none;
	cursor: crosshair;

        stroke-dasharray:  247 3 ;
        stroke-dashoffset: 250;
        animation-name: dash;
        animation-duration: 10s;
        animation-timing-function: steps(25,start);
        animation-delay: 0s;
        animation-direction: forwards;
        animation-iteration-count: infinite;
        animation-play-state: running;

}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


svg path.control {
        stroke-dasharray: 8 1;
        stroke-width: 6;
        stroke: #f808;
        fill:  none;
	cursor: crosshair;
}

svg circle.controlPoint {
	stroke: black;
	stroke-width: 1;
        fill: #f80;
        cursor: move;
}

div.tooltip {	
    position: absolute;			
    text-align: left;
    color: black;			
    width: auto;					
    height: auto;					
    padding: 8px 8px 0px 8px;				
    font: medium sans-serif;		
    background: #d3d3d3;	
    border: 5px solid white;		
    border-radius: 8px;			
    pointer-events: none;	
}

